@import "@/styles/variables.scss";

.profileCard {
	position: absolute;
	top: 60px;
	right: -10px;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 250px;
	height: 300px;
	padding: 10px;
	background-color: #4d4d4d;
	border-radius: $rounded-10;

	&Head {
		display: flex;
		gap: 10px;
		align-items: flex-start;
		width: 100%;
	}

	&Days {
		font-size: 12px;
		font-weight: 600;
		color: #15e052;
	}

	&Name {
		display: flex;
		gap: 5px;
		align-items: center;
		margin: 0 0 5px;
		font-size: 14px;
	}

	&SubTitle {
		color: $neon-10;
	}

	&Buttons {
		display: flex;
		flex-direction: column;
		gap: 5px;
		width: 100%;
		margin-top: auto;
	}

	&Button {
		color: $light-10;
	}
}
