@import "@/styles/mixins";
@import "@/styles/variables";

.category {
	row-gap: 10px;
	width: 100px;
	min-height: 170px;
	padding: 10px;
	color: $light-10;
	cursor: pointer;
	background-color: $dark-10;
	border-radius: $rounded-10;

	@media screen and (min-width: 900px) {
		width: 80px;
	}

	&:not(:last-child) {
		margin-right: 10px;
	}

	&:active {
		background-color: $dark-20;
	}

	@include scale();
	@include isHover() {
		transition: background-color $transitionTime ease;

		&:hover {
			background-color: $dark-20;
		}
	}

	&Link {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

	&Image {
		object-fit: contain;
	}

	&Label {
		font-size: 15px;

		&::first-letter {
			text-transform: uppercase;
		}
	}
}
