.ingredients {
    padding: 0 0 15px;
    margin: 0;

    &Title {
        margin: 0 0 5px;
        font-size: 15px;

        @media screen and (width >= 500px) {
            font-size: 18px;
        }
    }
}
