.startCooking {
	width: 180px;
	padding: 0 30px;
	font-size: 15px;
	border-radius: var(--rounded-10);

	&Wrapper {
		position: sticky;
		bottom: 10px;
		display: flex;
		justify-content: center;
	}
}
