@import "@/styles/mixins";
@import "@/styles/variables";

.menuPoint {
	display: flex;
	gap: 8px;
	align-items: center;
	text-transform: capitalize;
	cursor: pointer;

	@include isHover() {
		transition: opacity $transitionTime ease;

		&:hover {
			opacity: 0.5;
		}
	}
}
