@import "@/styles/variables.scss";

.recommendations {
	width: 400px;
	border-radius: 10px;
	overflow: hidden;

	&Slide {
		background-color: gray;
		border-radius: 10px;

		position: relative;
		width: 100%;
		height: 70px;

		&Image {
			object-fit: cover;
		}
	}
}
