.name {
    display: flex;
    flex-direction: column;
    gap: 13px;

    &Update {
        width: 100%;

        @media screen and (width >= 420px) {
            width: 150px;
            margin-left: auto;
        }
    }
}
