@import "@/styles/mixins";
@import "@/styles/variables.scss";

.backgroundOption {
	width: 40px;
	height: 40px;
	cursor: pointer;
	border: none;
	border-radius: $rounded-20;

	&Dark {
		background: $dark-10;
	}

	&Gray {
		background: $light-20;
	}

	&Teal {
		background: $jungle-20;
	}
}
