@import "@/styles/variables.scss";

.menu {
	padding: 10px;
	border-bottom: 1px solid $dark-10;

	@media screen and (width >= 640px) {
		padding: 20px;
		border-right: 1px solid $dark-10;
	}

	&List {
		display: flex;
		flex-direction: row;
		gap: 20px;
		align-items: flex-start;
		padding: 0;
		margin: 0;

		@media screen and (width >= 640px) {
			flex-direction: column;
		}
	}
}
