.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	background: var(--dark-10);
	border-radius: var(--rounded-10);

	&Middle {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;

		width: 100%;
		height: 100%;

		@media screen and (min-width: 1180px) {
			justify-content: center;
		}
	}
}

.list {
	padding: 0;
	margin: 0;

	@media screen and (min-width: 1180px) {
		width: 138px;
	}
}
