.form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &SubDetails {
        display: flex;
        justify-content: flex-end;

        &Link {
            font-size: 13px;
        }
    }
}
