@import "@/styles/mixins";

.backgroundOption {
	width: 40px;
	height: 40px;
	cursor: pointer;
	border: none;
	border-radius: var(--rounded-20);

	&Selected {
		transform: scale(1.1);
	}

	&Dark {
		background: linear-gradient(45deg, var(--dark-10), var(--dark-20));
	}

	&Gray {
		background: var(--light-20);
	}

	&Jungle {
		background: #192f2e;
	}
}
