@import "@/styles/mixins";

.description {
    height: 100%;
    overflow: auto;
    font-size: 15px;

    @media screen and (width >= 550px) {
        font-size: 17px;
    }

    &Title {
        margin: 0 0 10px;
        font-size: 18px;

        @media screen and (width >= 550px) {
            font-size: 25px;
        }
    }

    @include customScrollbar;
}
