.email {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-bottom: 30px;

    @media screen and (width >= 420px) {
        margin-bottom: 10px;
    }

    &Update {
        width: 100%;

        @media screen and (width >= 420px) {
            width: 150px;
            margin-left: auto;
        }
    }
}
