@import "@/styles/variables.scss";

@mixin isHover() {
	@media (hover: hover) {
		@content;
	}
}

@mixin customScrollbar() {
	scrollbar-color: $dark-10 $dark-10;
	scrollbar-width: thin;

	&::-webkit-scrollbar-track {
		background-color: $dark-30;
		border-radius: 10px;
	}

	&::-webkit-scrollbar {
		width: 3px;
		height: 3px;
		background-color: $dark-10;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgb(98 96 96);
		border-radius: 10px;
	}
}

@mixin fade() {
	animation: fadeIn ease 1s;

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
}

@mixin scale() {
	animation: scaleIn ease 0.5s;

	@keyframes scaleIn {
		0% {
			opacity: 0;
			transform: scale(0.9);
		}

		50% {
			opacity: 0.5;
		}

		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
}
