@import "mixins.scss";
@import "variables.scss";
@import "reset.scss";
@import "viewPersonalize.scss";

body {
	height: 100%;
	font-family: var(--poppins-font);
	font-weight: $fw-regular;
	color: var(--light-10);

	@include customScrollbar();
}
