@import "mixins.scss";
@import "reset.scss";
@import "variables.scss";

body {
	height: 100%;
	font-family: var(--poppins-font);
	color: $light-10;
	background: linear-gradient((45deg, $dark-10), $dark-20);

	@include customScrollbar();
}

button:disabled {
	cursor: not-allowed;
}
