@import "@/styles/variables.scss";

.notAuthorized {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: $light-10;

	&Image {
		object-fit: contain;
	}
}
